body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h3 {
    color: #0056b3;
}

.btn-primary, .btn-success {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
}

.input-group {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
